In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# File to Load
df = Path("Resources/df_2.csv")

# Read Data File and store into Pandas DataFrames
df = pd.read_csv(df)

df.head()

,Unnamed: 0,Name,Image,Location,Date established as park[7][12],Area (2021)[13],Recreation visitors (2021)[11],Description
0,0,Acadia,NaN,"Maine.mw-parser-output .geo-default,.mw-parser...",2/26/2019,"49,071.40 acres (198.6 km2)",4069098,Covering most of Mount Desert Island and other...
1,1,American Samoa,NaN,American Samoa14°15′S 170°41′W﻿ / ﻿14.25°S 170...,10/31/1988,"8,256.67 acres (33.4 km2)",8495,The southernmost national park is on three Sam...
2,2,Arches,NaN,Utah38°41′N 109°34′W﻿ / ﻿38.68°N 109.57°W,11/12/1971,"76,678.98 acres (310.3 km2)",1806865,"This site features more than 2,000 natural san..."
3,3,Badlands,NaN,South Dakota43°45′N 102°30′W﻿ / ﻿43.75°N 102.50°W,11/10/1978,"242,755.94 acres (982.4 km2)",1224226,"The Badlands are a collection of buttes, pinna..."
4,4,Big Bend,NaN,Texas29°15′N 103°15′W﻿ / ﻿29.25°N 103.25°W,6/12/1944,"801,163.21 acres (3,242.2 km2)",581220,Named for the prominent bend in the Rio Grande...

In [3]:
df.drop(columns=["Unnamed: 0", "Image"], inplace=True) #Thanks ChatGPT

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Name                             63 non-null     object
 1   Location                         63 non-null     object
 2   Date established as park[7][12]  63 non-null     object
 3   Area (2021)[13]                  63 non-null     object
 4   Recreation visitors (2021)[11]   63 non-null     int64
 5   Description                      63 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.1+ KB

In [5]:
df.columns

Index(['Name', 'Location', 'Date established as park[7][12]',
       'Area (2021)[13]', 'Recreation visitors (2021)[11]', 'Description'],
      dtype='object')

In [6]:
# Sort by established_year in ascending order (oldest parks first)
df_sorted = df.sort_values(by='Date established as park[7][12]', ascending=True)

# Display the oldest parks
print(df_sorted[['Name', 'Date established as park[7][12]']])

                 Name Date established as park[7][12]
60        Yellowstone                      03/01/1872
43      Mount Rainier                      03/02/1899
52            Sequoia                      09/25/1890
48          Pinnacles                       1/10/2013
50     Rocky Mountain                       1/26/2015
..                ...                             ...
30  Hawaiʻi Volcanoes                        8/1/2016
55     Virgin Islands                        8/2/1956
40    Lassen Volcanic                        8/9/2016
8         Canyonlands                       9/12/1964
26   Great Sand Dunes                       9/24/2004

[63 rows x 2 columns]

In [7]:
df["Date established as park[7][12]"] = pd.to_datetime(df["Date established as park[7][12]"], format="%m/%d/%Y")

In [8]:
# Sort by established_year in ascending order (oldest parks first)
df_sorted = df.sort_values(by='Date established as park[7][12]', ascending=True)

# Display the oldest parks
print(df_sorted[['Name', 'Date established as park[7][12]']])

                  Name Date established as park[7][12]
60         Yellowstone                      1872-03-01
52             Sequoia                      1890-09-25
61          Yosemite *                      1890-10-01
43       Mount Rainier                      1899-03-02
10  Carlsbad Caverns *                      1930-05-14
..                 ...                             ...
57         White Sands                      2019-12-20
44     New River Gorge                      2020-12-27
31         Hot Springs                      2021-03-04
7         Bryce Canyon                      2028-02-25
24         Grand Teton                      2029-02-26

[63 rows x 2 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Name                             63 non-null     object
 1   Location                         63 non-null     object
 2   Date established as park[7][12]  63 non-null     datetime64[ns]
 3   Area (2021)[13]                  63 non-null     object
 4   Recreation visitors (2021)[11]   63 non-null     int64
 5   Description                      63 non-null     object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 3.1+ KB

In [10]:
df.rename(columns={"Recreation visitors (2021)[11]":"visitors"}, inplace=True)
df.head()

,Name,Location,Date established as park[7][12],Area (2021)[13],visitors,Description
0,Acadia,"Maine.mw-parser-output .geo-default,.mw-parser...",2019-02-26,"49,071.40 acres (198.6 km2)",4069098,Covering most of Mount Desert Island and other...
1,American Samoa,American Samoa14°15′S 170°41′W﻿ / ﻿14.25°S 170...,1988-10-31,"8,256.67 acres (33.4 km2)",8495,The southernmost national park is on three Sam...
2,Arches,Utah38°41′N 109°34′W﻿ / ﻿38.68°N 109.57°W,1971-11-12,"76,678.98 acres (310.3 km2)",1806865,"This site features more than 2,000 natural san..."
3,Badlands,South Dakota43°45′N 102°30′W﻿ / ﻿43.75°N 102.50°W,1978-11-10,"242,755.94 acres (982.4 km2)",1224226,"The Badlands are a collection of buttes, pinna..."
4,Big Bend,Texas29°15′N 103°15′W﻿ / ﻿29.25°N 103.25°W,1944-06-12,"801,163.21 acres (3,242.2 km2)",581220,Named for the prominent bend in the Rio Grande...

In [11]:
df.rename(columns={"Area (2021)[13]":"area"}, inplace=True)
df.head()

,Name,Location,Date established as park[7][12],area,visitors,Description
0,Acadia,"Maine.mw-parser-output .geo-default,.mw-parser...",2019-02-26,"49,071.40 acres (198.6 km2)",4069098,Covering most of Mount Desert Island and other...
1,American Samoa,American Samoa14°15′S 170°41′W﻿ / ﻿14.25°S 170...,1988-10-31,"8,256.67 acres (33.4 km2)",8495,The southernmost national park is on three Sam...
2,Arches,Utah38°41′N 109°34′W﻿ / ﻿38.68°N 109.57°W,1971-11-12,"76,678.98 acres (310.3 km2)",1806865,"This site features more than 2,000 natural san..."
3,Badlands,South Dakota43°45′N 102°30′W﻿ / ﻿43.75°N 102.50°W,1978-11-10,"242,755.94 acres (982.4 km2)",1224226,"The Badlands are a collection of buttes, pinna..."
4,Big Bend,Texas29°15′N 103°15′W﻿ / ﻿29.25°N 103.25°W,1944-06-12,"801,163.21 acres (3,242.2 km2)",581220,Named for the prominent bend in the Rio Grande...

In [12]:
df.rename(columns={"Date established as park[7][12]":"date"}, inplace=True)
df.head()

,Name,Location,date,area,visitors,Description
0,Acadia,"Maine.mw-parser-output .geo-default,.mw-parser...",2019-02-26,"49,071.40 acres (198.6 km2)",4069098,Covering most of Mount Desert Island and other...
1,American Samoa,American Samoa14°15′S 170°41′W﻿ / ﻿14.25°S 170...,1988-10-31,"8,256.67 acres (33.4 km2)",8495,The southernmost national park is on three Sam...
2,Arches,Utah38°41′N 109°34′W﻿ / ﻿38.68°N 109.57°W,1971-11-12,"76,678.98 acres (310.3 km2)",1806865,"This site features more than 2,000 natural san..."
3,Badlands,South Dakota43°45′N 102°30′W﻿ / ﻿43.75°N 102.50°W,1978-11-10,"242,755.94 acres (982.4 km2)",1224226,"The Badlands are a collection of buttes, pinna..."
4,Big Bend,Texas29°15′N 103°15′W﻿ / ﻿29.25°N 103.25°W,1944-06-12,"801,163.21 acres (3,242.2 km2)",581220,Named for the prominent bend in the Rio Grande...

In [13]:
# Example DataFrame

# Define a function to extract state, latitude, and longitude
def extract_location_parts(location):
    # Split at the first digit (start of latitude)
    for i, char in enumerate(location):
        if char.isdigit():
            state = location[:i].strip()
            rest = location[i:].split(' / ')[0]  # Ignore the part after '/'
            latitude, longitude = rest.split(' ')[0:2]  # Latitude and Longitude are separated by space
            return state, latitude.strip(), longitude.strip()

# Apply the function to the DataFrame
df[['state', 'latitude', 'longitude']] = df['Location'].apply(extract_location_parts).apply(pd.Series)
df.head()

,Name,Location,date,area,visitors,Description,state,latitude,longitude
0,Acadia,"Maine.mw-parser-output .geo-default,.mw-parser...",2019-02-26,"49,071.40 acres (198.6 km2)",4069098,Covering most of Mount Desert Island and other...,"Maine.mw-parser-output .geo-default,.mw-parser...",44°21′N,68°13′W﻿
1,American Samoa,American Samoa14°15′S 170°41′W﻿ / ﻿14.25°S 170...,1988-10-31,"8,256.67 acres (33.4 km2)",8495,The southernmost national park is on three Sam...,American Samoa,14°15′S,170°41′W﻿
2,Arches,Utah38°41′N 109°34′W﻿ / ﻿38.68°N 109.57°W,1971-11-12,"76,678.98 acres (310.3 km2)",1806865,"This site features more than 2,000 natural san...",Utah,38°41′N,109°34′W﻿
3,Badlands,South Dakota43°45′N 102°30′W﻿ / ﻿43.75°N 102.50°W,1978-11-10,"242,755.94 acres (982.4 km2)",1224226,"The Badlands are a collection of buttes, pinna...",South Dakota,43°45′N,102°30′W﻿
4,Big Bend,Texas29°15′N 103°15′W﻿ / ﻿29.25°N 103.25°W,1944-06-12,"801,163.21 acres (3,242.2 km2)",581220,Named for the prominent bend in the Rio Grande...,Texas,29°15′N,103°15′W﻿

In [14]:
df.state.value_counts()

state
California                                                                                                                                                                                                                                                                 8
Alaska                                                                                                                                                                                                                                                                     8
Utah                                                                                                                                                                                                                                                                       5
Colorado                                                                                                                                                                                                                                                                   4
Arizona                                                                                                                                                                                                                                                                    3
Washington                                                                                                                                                                                                                                                                 3
Florida                                                                                                                                                                                                                                                                    3
South Dakota                                                                                                                                                                                                                                                               2
Texas                                                                                                                                                                                                                                                                      2
New Mexico                                                                                                                                                                                                                                                                 2
Hawaii                                                                                                                                                                                                                                                                     2
Indiana                                                                                                                                                                                                                                                                    1
Michigan                                                                                                                                                                                                                                                                   1
Kentucky                                                                                                                                                                                                                                                                   1
U.S. Virgin Islands                                                                                                                                                                                                                                                        1
West Virginia                                                                                                                                                                                                                                                              1
Virginia                                                                                                                                                                                                                                                                   1
North Dakota                                                                                                                                                                                                                                                               1
Minnesota                                                                                                                                                                                                                                                                  1
Arkansas                                                                                                                                                                                                                                                                   1
Maine.mw-parser-output .geo-default,.mw-parser-output .geo-dms,.mw-parser-output .geo-dec{display:inline}.mw-parser-output .geo-nondefault,.mw-parser-output .geo-multi-punct{display:none}.mw-parser-output .longitude,.mw-parser-output .latitude{white-space:nowrap}    1
North Carolina, Tennessee                                                                                                                                                                                                                                                  1
Nevada                                                                                                                                                                                                                                                                     1
Wyoming                                                                                                                                                                                                                                                                    1
American Samoa                                                                                                                                                                                                                                                             1
Montana                                                                                                                                                                                                                                                                    1
Missouri                                                                                                                                                                                                                                                                   1
California, Nevada                                                                                                                                                                                                                                                         1
Ohio                                                                                                                                                                                                                                                                       1
Oregon                                                                                                                                                                                                                                                                     1
South Carolina                                                                                                                                                                                                                                                             1
Wyoming, Montana, Idaho                                                                                                                                                                                                                                                    1
Name: count, dtype: int64

In [15]:
df.loc[df.Name=="Acadia", "state"] = "Maine"
df.head()

,Name,Location,date,area,visitors,Description,state,latitude,longitude
0,Acadia,"Maine.mw-parser-output .geo-default,.mw-parser...",2019-02-26,"49,071.40 acres (198.6 km2)",4069098,Covering most of Mount Desert Island and other...,Maine,44°21′N,68°13′W﻿
1,American Samoa,American Samoa14°15′S 170°41′W﻿ / ﻿14.25°S 170...,1988-10-31,"8,256.67 acres (33.4 km2)",8495,The southernmost national park is on three Sam...,American Samoa,14°15′S,170°41′W﻿
2,Arches,Utah38°41′N 109°34′W﻿ / ﻿38.68°N 109.57°W,1971-11-12,"76,678.98 acres (310.3 km2)",1806865,"This site features more than 2,000 natural san...",Utah,38°41′N,109°34′W﻿
3,Badlands,South Dakota43°45′N 102°30′W﻿ / ﻿43.75°N 102.50°W,1978-11-10,"242,755.94 acres (982.4 km2)",1224226,"The Badlands are a collection of buttes, pinna...",South Dakota,43°45′N,102°30′W﻿
4,Big Bend,Texas29°15′N 103°15′W﻿ / ﻿29.25°N 103.25°W,1944-06-12,"801,163.21 acres (3,242.2 km2)",581220,Named for the prominent bend in the Rio Grande...,Texas,29°15′N,103°15′W﻿

In [16]:
# Define a function to convert DMS (degrees, minutes, direction) to decimal degrees
def dms_to_decimal(coord):
    # Extract degrees, minutes, and direction (N/S/E/W)
    degrees = int(coord.split('°')[0])
    minutes = int(coord.split('°')[1].split('′')[0])
    coord = coord.replace("﻿", "")
    direction = coord.strip()[-1]  # Last character (N/S/E/W)

    # Convert to decimal
    decimal = degrees + minutes / 60
    
    # Handle the direction (N/S/E/W)
    if direction in ['S', 'W']:
        decimal = -decimal
    
    return decimal

In [17]:
df['latitude'] = df['latitude'].apply(dms_to_decimal)
df['longitude'] = df['longitude'].apply(dms_to_decimal)
df.head()

,Name,Location,date,area,visitors,Description,state,latitude,longitude
0,Acadia,"Maine.mw-parser-output .geo-default,.mw-parser...",2019-02-26,"49,071.40 acres (198.6 km2)",4069098,Covering most of Mount Desert Island and other...,Maine,44.350000,-68.216667
1,American Samoa,American Samoa14°15′S 170°41′W﻿ / ﻿14.25°S 170...,1988-10-31,"8,256.67 acres (33.4 km2)",8495,The southernmost national park is on three Sam...,American Samoa,-14.250000,-170.683333
2,Arches,Utah38°41′N 109°34′W﻿ / ﻿38.68°N 109.57°W,1971-11-12,"76,678.98 acres (310.3 km2)",1806865,"This site features more than 2,000 natural san...",Utah,38.683333,-109.566667
3,Badlands,South Dakota43°45′N 102°30′W﻿ / ﻿43.75°N 102.50°W,1978-11-10,"242,755.94 acres (982.4 km2)",1224226,"The Badlands are a collection of buttes, pinna...",South Dakota,43.750000,-102.500000
4,Big Bend,Texas29°15′N 103°15′W﻿ / ﻿29.25°N 103.25°W,1944-06-12,"801,163.21 acres (3,242.2 km2)",581220,Named for the prominent bend in the Rio Grande...,Texas,29.250000,-103.250000

In [18]:
# Function to extract acres as a number
def extract_acres(area_str):
    # Remove commas and extract the number before " acres"
    acres = float(area_str.split(' acres')[0].replace(',', ''))
    return acres

In [19]:
# Apply the function to the DataFrame
df['acres'] = df['area'].apply(extract_acres)
df.head()

,Name,Location,date,area,visitors,Description,state,latitude,longitude,acres
0,Acadia,"Maine.mw-parser-output .geo-default,.mw-parser...",2019-02-26,"49,071.40 acres (198.6 km2)",4069098,Covering most of Mount Desert Island and other...,Maine,44.350000,-68.216667,49071.40
1,American Samoa,American Samoa14°15′S 170°41′W﻿ / ﻿14.25°S 170...,1988-10-31,"8,256.67 acres (33.4 km2)",8495,The southernmost national park is on three Sam...,American Samoa,-14.250000,-170.683333,8256.67
2,Arches,Utah38°41′N 109°34′W﻿ / ﻿38.68°N 109.57°W,1971-11-12,"76,678.98 acres (310.3 km2)",1806865,"This site features more than 2,000 natural san...",Utah,38.683333,-109.566667,76678.98
3,Badlands,South Dakota43°45′N 102°30′W﻿ / ﻿43.75°N 102.50°W,1978-11-10,"242,755.94 acres (982.4 km2)",1224226,"The Badlands are a collection of buttes, pinna...",South Dakota,43.750000,-102.500000,242755.94
4,Big Bend,Texas29°15′N 103°15′W﻿ / ﻿29.25°N 103.25°W,1944-06-12,"801,163.21 acres (3,242.2 km2)",581220,Named for the prominent bend in the Rio Grande...,Texas,29.250000,-103.250000,801163.21

In [20]:
df = df.drop(columns = ["Location", "area"])

df = df.rename(columns = {"Name": "national_park", "Description": "description", "date": "date_established"})
df.head()

,national_park,date_established,visitors,description,state,latitude,longitude,acres
0,Acadia,2019-02-26,4069098,Covering most of Mount Desert Island and other...,Maine,44.350000,-68.216667,49071.40
1,American Samoa,1988-10-31,8495,The southernmost national park is on three Sam...,American Samoa,-14.250000,-170.683333,8256.67
2,Arches,1971-11-12,1806865,"This site features more than 2,000 natural san...",Utah,38.683333,-109.566667,76678.98
3,Badlands,1978-11-10,1224226,"The Badlands are a collection of buttes, pinna...",South Dakota,43.750000,-102.500000,242755.94
4,Big Bend,1944-06-12,581220,Named for the prominent bend in the Rio Grande...,Texas,29.250000,-103.250000,801163.21

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   national_park     63 non-null     object
 1   date_established  63 non-null     datetime64[ns]
 2   visitors          63 non-null     int64
 3   description       63 non-null     object
 4   state             63 non-null     object
 5   latitude          63 non-null     float64
 6   longitude         63 non-null     float64
 7   acres             63 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 4.1+ KB

In [22]:
df["year_established"] = df.date_established.dt.year
df.head()

,national_park,date_established,visitors,description,state,latitude,longitude,acres,year_established
0,Acadia,2019-02-26,4069098,Covering most of Mount Desert Island and other...,Maine,44.350000,-68.216667,49071.40,2019
1,American Samoa,1988-10-31,8495,The southernmost national park is on three Sam...,American Samoa,-14.250000,-170.683333,8256.67,1988
2,Arches,1971-11-12,1806865,"This site features more than 2,000 natural san...",Utah,38.683333,-109.566667,76678.98,1971
3,Badlands,1978-11-10,1224226,"The Badlands are a collection of buttes, pinna...",South Dakota,43.750000,-102.500000,242755.94,1978
4,Big Bend,1944-06-12,581220,Named for the prominent bend in the Rio Grande...,Texas,29.250000,-103.250000,801163.21,1944

In [23]:
df.year_established.value_counts()

year_established
1980    9
2019    5
1994    3
1968    2
1971    2
1978    2
1940    2
1890    2
2003    2
2016    2
1934    2
1941    1
2006    1
1899    1
2020    1
2013    1
1938    1
1962    1
2015    1
1935    1
1956    1
1975    1
2021    1
1986    1
1961    1
2000    1
1944    1
1999    1
2028    1
1964    1
1930    1
2002    1
2017    1
1966    1
1992    1
2018    1
2010    1
2029    1
1988    1
2004    1
1872    1
Name: count, dtype: int64

In [24]:
df.loc[df.longitude>= -90]

,national_park,date_established,visitors,description,state,latitude,longitude,acres,year_established
0,Acadia,2019-02-26,4069098,Covering most of Mount Desert Island and other...,Maine,44.350000,-68.216667,49071.40,2019
5,Biscayne,1980-06-28,705655,"The central part of Biscayne Bay, this mostly ...",Florida,25.650000,-80.083333,172971.11,1980
12,Congaree,2003-11-10,215181,"On the Congaree River, this park is the larges...",South Carolina,33.783333,-80.783333,26692.60,2003
14,Cuyahoga Valley,2000-10-11,2575275,This park along the Cuyahoga River has waterfa...,Ohio,41.233333,-81.550000,32571.88,2000
17,Dry Tortugas,1992-10-26,83817,"The islands of the Dry Tortugas, at the wester...",Florida,24.633333,-82.866667,64701.22,1992
18,Everglades,1934-05-30,942130,The Everglades are the largest tropical wilder...,Florida,25.316667,-80.933333,1508938.57,1934
27,Great Smoky Mountains,1934-06-15,14161548,"The Great Smoky Mountains, part of the Appalac...","North Carolina, Tennessee",35.683333,-83.533333,522426.88,1934
32,Indiana Dunes,2019-02-15,3177210,"Previously designated a national lakeshore, pa...",Indiana,41.650000,-87.050000,15349.08,2019
33,Isle Royale,1940-04-03,25844,The largest island in Lake Superior is a place...,Michigan,48.100000,-88.550000,571790.30,1940
41,Mammoth Cave,1941-07-01,515774,With more than 400 miles (640 km) of passagewa...,Kentucky,37.183333,-86.100000,54016.29,1941
44,New River Gorge,2020-12-27,1682720,The New River Gorge is the deepest river gorge...,West Virginia,38.066667,-81.083333,7021.00,2020
53,Shenandoah,1935-12-26,1592312,Shenandoah's Blue Ridge Mountains are covered ...,Virginia,38.533333,-78.350000,200192.09,1935
55,Virgin Islands,1956-08-02,323999,This island park on Saint John preserves prist...,U.S. Virgin Islands,18.333333,-64.733333,15052.33,1956

In [25]:
df["us_location"]=df.longitude.apply(lambda x: "East" if x > -90 else "West")
df.head()

,national_park,date_established,visitors,description,state,latitude,longitude,acres,year_established,us_location
0,Acadia,2019-02-26,4069098,Covering most of Mount Desert Island and other...,Maine,44.350000,-68.216667,49071.40,2019,East
1,American Samoa,1988-10-31,8495,The southernmost national park is on three Sam...,American Samoa,-14.250000,-170.683333,8256.67,1988,West
2,Arches,1971-11-12,1806865,"This site features more than 2,000 natural san...",Utah,38.683333,-109.566667,76678.98,1971,West
3,Badlands,1978-11-10,1224226,"The Badlands are a collection of buttes, pinna...",South Dakota,43.750000,-102.500000,242755.94,1978,West
4,Big Bend,1944-06-12,581220,Named for the prominent bend in the Rio Grande...,Texas,29.250000,-103.250000,801163.21,1944,West

In [26]:
df.to_csv("park_data_clean.csv", index=False)

In [27]:
df.head(63)

,national_park,date_established,visitors,description,state,latitude,longitude,acres,year_established,us_location
0,Acadia,2019-02-26,4069098,Covering most of Mount Desert Island and other...,Maine,44.350000,-68.216667,49071.40,2019,East
1,American Samoa,1988-10-31,8495,The southernmost national park is on three Sam...,American Samoa,-14.250000,-170.683333,8256.67,1988,West
2,Arches,1971-11-12,1806865,"This site features more than 2,000 natural san...",Utah,38.683333,-109.566667,76678.98,1971,West
3,Badlands,1978-11-10,1224226,"The Badlands are a collection of buttes, pinna...",South Dakota,43.750000,-102.500000,242755.94,1978,West
4,Big Bend,1944-06-12,581220,Named for the prominent bend in the Rio Grande...,Texas,29.250000,-103.250000,801163.21,1944,West
...,...,...,...,...,...,...,...,...,...,...
58,Wind Cave,2003-01-09,709001,Wind Cave is distinctive for its calcite fin f...,South Dakota,43.566667,-103.483333,33970.84,2003,West
59,Wrangell–St. Elias *,1980-12-02,50189,The largest national park in the system protec...,Alaska,61.000000,-142.000000,8323146.48,1980,West
60,Yellowstone,1872-03-01,4860242,"Situated on the Yellowstone Caldera, the park ...","Wyoming, Montana, Idaho",44.600000,-110.500000,2219790.71,1872,West
61,Yosemite *,1890-10-01,3287595,"Yosemite features sheer granite cliffs, except...",California,37.833333,-119.500000,761747.50,1890,West
62,Zion,2019-11-19,5039835,Located at the junction of the Colorado Platea...,Utah,37.300000,-113.050000,147242.66,2019,West

In [28]:
# Sort by established_year in ascending order (oldest parks first)
df_sorted = df.sort_values(by='year_established', ascending=True)

# Display the oldest parks
print(df_sorted[['national_park', 'year_established']])

         national_park  year_established
60         Yellowstone              1872
52             Sequoia              1890
61          Yosemite *              1890
43       Mount Rainier              1899
10  Carlsbad Caverns *              1930
..                 ...               ...
23      Grand Canyon *              2019
44     New River Gorge              2020
31         Hot Springs              2021
7         Bryce Canyon              2028
24         Grand Teton              2029

[63 rows x 2 columns]